modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 32849
externalPort = 3003

[[ports]]
localPort = 32953
externalPort = 6800

[[ports]]
localPort = 34877
externalPort = 3000

[[ports]]
localPort = 35241
externalPort = 9000

[[ports]]
localPort = 37087
externalPort = 8080

[[ports]]
localPort = 42775
externalPort = 5000

[[ports]]
localPort = 43257
externalPort = 8008

[[ports]]
localPort = 44209
externalPort = 8000

[[ports]]
localPort = 44377
externalPort = 3002

[[ports]]
localPort = 44669
externalPort = 6000

[[ports]]
localPort = 44819
externalPort = 8099

[[ports]]
localPort = 45167
externalPort = 4200

[[ports]]
localPort = 45501
externalPort = 8081

[[ports]]
localPort = 45625
externalPort = 3001

[[ports]]
localPort = 46517
externalPort = 5173
